layout/font-awesome-4.7.0
layout/node_modules

rhazes-app/node_modules
rhazes-app/.pnp
rhazes-app/.pnp.js
rhazes-app/coverage
rhazes-app/.next/
rhazes-app/out/
rhazes-app/build
rhazes-app/.DS_Store
rhazes-app/*.pem
rhazes-app/npm-debug.log*
rhazes-app/yarn-debug.log*
rhazes-app/yarn-error.log*
rhazes-app/.pnpm-debug.log*
rhazes-app/.env*.local
rhazes-app/.vercel
rhazes-app/*.tsbuildinfo
rhazes-app/next-env.d.ts
